In [ ]:
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/Travel.csv")

In [ ]:
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [ ]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

# Data Cleaning

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [ ]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [ ]:
df['Gender'] = df['Gender'].replace('Fe Male','Female')

In [ ]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [ ]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [ ]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [ ]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

# Checking Null Values

In [ ]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [ ]:
features_na = [features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_na:
  print(feature,np.round(df[feature].isnull().mean()*100,5),"% Missing Values")

Age 4.62357 % Missing Values
TypeofContact 0.51146 % Missing Values
DurationOfPitch 5.13502 % Missing Values
NumberOfFollowups 0.92062 % Missing Values
PreferredPropertyStar 0.53191 % Missing Values
NumberOfTrips 2.86416 % Missing Values
NumberOfChildrenVisiting 1.35025 % Missing Values
MonthlyIncome 4.76678 % Missing Values

In [ ]:
df[features_na].select_dtypes(exclude = 'object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

#Imputing Null values

impute median for Age,

impute median for Duration of pitch,

impute mode for Type of Contract,

impute mode for NumberOfFollowups	it is disecrete,

impute median for MonthlyIncome,

impute mode for NumberOfChildrenVisiting

In [ ]:
df.Age.fillna(df['Age'].median(),inplace=True)

<ipython-input-15-3fef896c8d09>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df['Age'].median(),inplace=True)

In [ ]:
df.DurationOfPitch.fillna(df['DurationOfPitch'].median(),inplace=True)

<ipython-input-16-81f5a7bdee5f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df['DurationOfPitch'].median(),inplace=True)

In [ ]:
df.TypeofContact.fillna(df['TypeofContact'].mode()[0],inplace=True)

<ipython-input-17-b8369568ac45>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df['TypeofContact'].mode()[0],inplace=True)

In [ ]:
df.NumberOfFollowups.fillna(df['NumberOfFollowups'].mode()[0],inplace=True)

<ipython-input-18-2df7d20e53b4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df['NumberOfFollowups'].mode()[0],inplace=True)

In [ ]:
df.MonthlyIncome.fillna(df['MonthlyIncome'].median(),inplace = True)

<ipython-input-19-78a9f29df617>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df['MonthlyIncome'].median(),inplace = True)

In [ ]:
df.NumberOfChildrenVisiting.fillna(df['NumberOfChildrenVisiting'].mode()[0],inplace=True)

<ipython-input-20-6af2adf885c1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df['NumberOfChildrenVisiting'].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                           0
TypeofContact                 0
CityTier                      0
DurationOfPitch               0
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups             0
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting      0
Designation                   0
MonthlyIncome                 0
dtype: int64

In [ ]:
df['NumberOfTrips'].value_counts()

NumberOfTrips
2.0     1464
3.0     1079
1.0      620
4.0      478
5.0      458
6.0      322
7.0      218
8.0      105
19.0       1
21.0       1
20.0       1
22.0       1
Name: count, dtype: int64

In [ ]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [ ]:
#Creating new Column
Total_Visting = df['NumberOfPersonVisiting']+df['NumberOfChildrenVisiting']

In [ ]:
df.drop(['NumberOfPersonVisiting','NumberOfChildrenVisiting'],axis=1)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Unmarried,3.0,1,3,1,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Unmarried,3.0,0,5,0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Unmarried,3.0,1,3,1,Executive,24041.0

In [ ]:
#get all numerics features and store in one variable
num_features = [features for features in df.columns if df[features].dtype !='O']
print("Number of Numerical Features is:",len(num_features))

Number of Numerical Features is: 14

In [ ]:
#get all category features and store in other_variable
cat_features  = [features for features in df.columns if df[features].dtype == 'O']
print("Number of Category Features is:",len(cat_features))

Number of Category Features is: 6

In [ ]:
#get all Disecrete features and store in one variable
disecrete_features = [features for features in num_features if len(df[features].unique()) <=25]
print("Number of disecrete_features  is:",len(disecrete_features))

Number of disecrete_features  is: 10

In [ ]:
continous_features = [features for features in num_features if features not in disecrete_features]
print("Number of continous_features  is:",len(continous_features))

Number of continous_features  is: 4

In [ ]:
X = df.drop(['ProdTaken'],axis=1)
Y = df['ProdTaken']

In [ ]:
#Train Test Split
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20,random_state=10)

In [ ]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((3910, 19), (978, 19), (3910,), (978,))

In [ ]:
#Create Column Transformers with 3 types of transformers
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

In [ ]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [ ]:
num_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [ ]:
preprocesser = ColumnTransformer([

                              ("OneHotEncoder",oh_transformer,cat_features),
                              ("num_transformer",num_transformer,num_features)
]
)

In [ ]:
X_train = preprocesser.fit_transform(X_train)

In [ ]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.782625,-1.263809,-0.713603,0.526289,0.424452,-0.644305,0.678514,0.784667,-1.407958,-0.226963
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.664499,0.114956,0.293685,-0.730921,-0.675561,-0.644305,-1.518275,0.784667,-0.231903,0.369702
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.782625,0.114956,0.293685,0.526289,-0.675561,-0.644305,1.410777,0.784667,0.944153,-0.265800
3,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,-1.023812,1.493721,-1.720892,-0.730921,-0.675561,-0.644305,-0.053749,0.784667,2.120209,0.010892
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.302718,1.493721,1.300974,1.783500,0.424452,1.552061,1.410777,0.784667,2.120209,0.973903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.300250,0.114956,-0.713603,0.526289,-0.125554,-0.644305,-1.518275,-1.274426,0.944153,-1.257601
3906,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.026280,0.114956,0.293685,-0.730921,-0.125554,1.552061,1.410777,0.784667,-0.231903,-0.473319
3907,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-0.300250,0.114956,-0.713603,1.783500,1.524465,1.552061,-0.053749,-1.274426,-1.407958,-0.226963
3908,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.061531,0.114956,1.300974,1.783500,-0.675561,1.552061,-0.053749,-1.274426,0.944153,-0.487424
3909,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.903219,0.114956,-0.713603,0.526289,1.524465,-0.644305,-0.053749,0.784667,0.944153,-1.145727

In [ ]:
X_test = preprocesser.transform(X_test)

#RandomForestClassifier Model Training

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,f1_score,precision_score,recall_score,roc_auc_score

In [ ]:
models = {
           "RandomForestClassifier":RandomForestClassifier(),
           "DecisionTreeClassifier":DecisionTreeClassifier()
}

In [ ]:
for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,Y_train)

In [ ]:
#Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [ ]:
print(list(models.keys())[i])

DecisionTreeClassifier

In [ ]:
#Print Model Performance Training Set
print("Model Performance for Training Set")
print("Accuracy {:.4f}".format(acc_score))
print("F1 Score {:.4f}".format(f1_score))
print("Precision Score {:.4f}".format(precision_score))
print("Recall Score {:.4f}".format(recall_score))
print("ROC_AUC_Score {:.4f}".format(roc))

print("\n-----------------------------------------------\n")

#Print Model Performance  Testing Set
print("Model Performance for Testing Set")
print("Accuracy {:.4f}".format(test_acc))
print("ROC_AUC_Score {:.4f}".format(test_roc))

Model Performance for Training Set
Accuracy 1.0000
F1 Score 1.0000
Precision Score 1.0000
Recall Score 1.0000
ROC_AUC_Score 1.0000

-----------------------------------------------

Model Performance for Testing Set
Accuracy 0.8988
ROC_AUC_Score 0.8222

In [ ]:
print(list(models.keys())[i])

DecisionTreeClassifier

In [ ]:
#Print Model Performance Training Set
print("Model Performance for Training Set")
print("Accuracy {:.4f}".format(acc_score))
print("F1 Score {:.4f}".format(f1_score))
print("Precision Score {:.4f}".format(precision_score))
print("Recall Score {:.4f}".format(recall_score))
print("ROC_AUC_Score {:.4f}".format(roc))

print("\n-----------------------------------------------\n")

#Print Model Performance  Testing Set
print("Model Performance for Testing Set")
print("Accuracy {:.4f}".format(test_acc))
print("ROC_AUC_Score {:.4f}".format(test_roc))

Model Performance for Training Set
Accuracy 1.0000
F1 Score 1.0000
Precision Score 1.0000
Recall Score 1.0000
ROC_AUC_Score 1.0000

-----------------------------------------------

Model Performance for Testing Set
Accuracy 0.8957
ROC_AUC_Score 0.8079

#HyperParameter Tuning

In [ ]:
rf_params = {

             "n_estimators":[100,200,500,1000],
             "max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "min_samples_leaf":[1,2,5]
}

In [ ]:
rf_params

{'n_estimators': [100, 200, 500, 1000],
 'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 'auto', 8],
 'min_samples_split': [2, 8, 15, 20],
 'min_samples_leaf': [1, 2, 5]}

In [ ]:
#Model for Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
random_cv = [

          ("RandomizedSearchCV",RandomForestClassifier(),rf_params)
]

In [ ]:
random_cv

[('RandomizedSearchCV',
  RandomForestClassifier(),
  {'n_estimators': [100, 200, 500, 1000],
   'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 'auto', 8],
   'min_samples_split': [2, 8, 15, 20],
   'min_samples_leaf': [1, 2, 5]})]

In [ ]:
random = {}
for name,model,params in random_cv:
  rando = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)

In [143]:
rando.fit(X_train,Y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_validation.py:528: FitFailedWarning:
81 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
81 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 1382, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.11/dist-packages/sklearn/utils/_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_search.py:1107: UserWarning: One or more of the test scores are non-finite: [0.86266002        nan 0.87340171        nan 0.88670043        nan
 0.86189413        nan        nan 0.85729016 0.87135672 0.86649772
 0.87340152 0.87442519        nan 0.86419514 0.85524321 0.84936171
 0.84066461        nan 0.8468041  0.8647058         nan        nan
        nan 0.86675177 0.86547385 0.85626727 0.84066461 0.84757097
 0.8416877  0.84629206 0.86061503 0.86572986 0.86547463 0.86393952
 0.876726   0.8659849  0.86905493 0.85677813 0.86828649 0.87877295
 0.8831215  0.86445057        nan        nan 0.88107396 0.88439962
 0.84936151        nan 0.8626614  0.85626708 0.86393912 0.87442519
        nan        nan 0.86930977 0.85984718 0.8734027  0.87800608
        nan 0.86368291 0.87749424 0.86547404        nan 0.87621554
 0.88260947 0.84143227        nan 0.86624131        nan        nan
 0.86419475 0.88081971 0.87877276 0.86598568 0.86189296 0.85933554
 0.86214937 0.87902857 0.88618977        nan 0.86905493        nan
 0.87161078 0.88925843 0.86777525        nan 0.87263445        nan
 0.8416873  0.84091985 0.84833862 0.86035902        nan        nan
 0.8805633         nan 0.88311973 0.87109953]
  warnings.warn(

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'max_depth': [5, 8, 15, None, 10],
                                        'max_features': [5, 7, 'auto', 8],
                                        'min_samples_leaf': [1, 2, 5],
                                        'min_samples_split': [2, 8, 15, 20],
                                        'n_estimators': [100, 200, 500, 1000]},
                   verbose=2)

In [144]:
random[name]=rando.best_params_

In [145]:
for model_name in random:
  print(f"Best parameters for {model_name}")
  print(random[model_name])

Best parameters for RandomizedSearchCV
{'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 5, 'max_depth': 15}

In [146]:
models = {
           "RandomForestClassifier":RandomForestClassifier(n_estimators=200,min_samples_leaf=1,min_samples_split=2,max_features=5,max_depth=15)
}

In [147]:
for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,Y_train)

In [148]:
#Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [149]:
print(list(models.keys())[i])

RandomForestClassifier

In [150]:
#Print Model Performance Training Set
print("Model Performance for Training Set")
print("Accuracy {:.4f}".format(acc_score))
print("F1 Score {:.4f}".format(f1_score))
print("Precision Score {:.4f}".format(precision_score))
print("Recall Score {:.4f}".format(recall_score))
print("ROC_AUC_Score {:.4f}".format(roc))

print("\n-----------------------------------------------\n")

#Print Model Performance  Testing Set
print("Model Performance for Testing Set")
print("Accuracy {:.4f}".format(test_acc))
print("ROC_AUC_Score {:.4f}".format(test_roc))

Model Performance for Training Set
Accuracy 1.0000
F1 Score 1.0000
Precision Score 1.0000
Recall Score 1.0000
ROC_AUC_Score 1.0000

-----------------------------------------------

Model Performance for Testing Set
Accuracy 0.8957
ROC_AUC_Score 0.8079